@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 30px;
    font-style: italic;
    box-sizing: border-box;
    font-family: "poppins", monospace, sans-serif;
}
body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/assets/images/table.png);
    display: flex;
    justify-content: center;
}
#container {
    text-align: center;
    margin-top: 100px;
}
#container > * {
    margin-bottom: 20px;
}
#showCards, #sumEl {
    text-align: left;
}
h2 {
    color: goldenrod;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}
#buttonContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}
input {
    height: 50px;
    width: 200px;
    margin: 2px 0 5px 0;
    color: #016f32;
    border-radius: 10px;
    font-weight: 600;
    background-color: goldenrod;
}
#player-el {
    font-weight: 600;
    font-style: italic;
}