* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


$ff-inter: 'Inter', sans-serif, monospace;

$clr-primary1: #043873;
$clr-primary2: #4F9CF9;
$clr-secondary1: #FFE492;
$clr-secondary2: #A7CEFC;
$clr-secondary3: #ffffff;
$clr-secondary4: #212529;